<!doctype html> 
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css"/>
        <style>
            .container{
                margin-top: 30px
            }
        </style>
    </head>
    <body>
        <div class="container">
            <form action="/ej01/traducir" method="post">
                <table class="table table-bordered">
                    <tr>
                        <th>Idioma entrada</th>
                        <th><select name="source">
                                <option value="detectar">Detectar idioma</option>
                                <option th:each="i:${idiomas}" th:value="${i.code}" th:text="${i.name}"></option>
                            </select>
                        </th>
                        <th>Idioma salida</th>
                        <th><select name="target">                                
                                <option th:each="e:${idiomas}" th:value="${e.code}" th:text="${e.name}"></option>
                            </select>
                        </th>                
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" name="q"/></td>
                        <td colspan="2"><input type="text" th:value="${traduccion}"/></td>
                    </tr>
                </table>
                <input type="submit" value="Traducir" class="btn btn-primary"/>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
